App2SaaSService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://server.saas.iss.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://server.saas.iss.com" xmlns:intf="http://server.saas.iss.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!--WSDL : App WebService; for SaaS Platform -->
	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="http://server.saas.iss.com" xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="execute">
				<complexType>
					<sequence>
						<element name="requestXML" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="executeResponse">
				<complexType>
					<sequence>
						<element name="executeReturn" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>
	<wsdl:message name="executeRequest">
		<wsdl:part element="impl:execute" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="executeResponse">
		<wsdl:part element="impl:executeResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="App2SaaSService">
		<wsdl:operation name="execute">
			<wsdl:input message="impl:executeRequest" name="executeRequest">
			</wsdl:input>
			<wsdl:output message="impl:executeResponse" name="executeResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="App2SaaSServiceSoapBinding" type="impl:App2SaaSService">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="executeRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="executeResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="App2SaaSServiceService">
		<wsdl:port binding="impl:App2SaaSServiceSoapBinding" name="App2SaaSService">
			<wsdlsoap:address location="http://172.31.8.70:3337/WebServices/App2SaaSService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
